body{
    background: rgb(201, 200, 200);
}
.container{
    margin: 12%;
}
.container h1{
    font-size: 60px;
}
.display{
    display: flex;
    justify-content: center;
    margin: 15px;
}
button{
    padding: 10px 20px;
    margin-bottom: 10px;
}
input{
    padding: 10px 20px;
}
#genpas{
    margin-top: 20px;
}